<!-- <p>spotify-player works!</p> -->

<!-- <div>
    <div>
      <div *ngIf="currentTrack">
        <img [src]="currentTrack.album.images[0].url" class="album-cover" alt="Album cover">
        <div class="track-details">
          <h3>{{ currentTrack.name }}</h3>
          <p>{{ currentTrack.artists[0].name }}</p>
        </div>
      </div>
      <div>
        <button (click)="previousTrack()">
            Previous
          <i class="fas fa-step-backward"></i>
        </button>
        <button (click)="togglePlay()">
            Play/Pause
          <i class="fas" [ngClass]="isPlaying ? 'fa-pause' : 'fa-play'"></i>
        </button>
        <button (click)="nextTrack()">
            Next
          <i class="fas fa-step-forward"></i>
        </button>
      </div>
    </div>
    <div *ngIf="!playerState">
      Connecting to Spotify...
    </div>
  </div> -->

<!-- <div *ngIf="playerStore.currentTrack$ | async as currentTrack">
  <img class="mask mask-circle" [src]="currentTrack.album.images[0].url" alt="Album Art">
  <h2>{{ currentTrack.name }}</h2>
  <p>{{ currentTrack.artists[0].name }}</p>
</div>

<div>
  <button (click)="previousTrack()">Previous</button>
  <button (click)="togglePlay()">
    {{ (playerStore.isPlaying$ | async) ? 'Pause' : 'Play' }}
  </button>
  <button (click)="nextTrack()">Next</button>
</div> -->

<div class="text-center">
  <div *ngIf="playerStore.currentTrack$ | async as currentTrack">
    <!-- Album Art -->
    <img class="mask mask-circle mx-auto" 
         [class.spin]="playerStore.isPlaying$ | async"
         [src]="currentTrack.album.images[0].url" 
         alt="Album Art">
    <br /><br />

    <!-- Track Info -->
    <!-- <h2 class="text-2xl font-title">{{ currentTrack.name }}</h2> -->
    <!-- <h2 class="text-2xl font-semibold my-4">{{ currentTrack.name }}</h2> -->
    <h2 class="text-2xl font-bold">{{ currentTrack.name }}</h2>
    <p>{{ currentTrack.artists[0].name }}</p>
  </div>

  <br />

  <!-- Controls -->
  <div class="flex justify-center gap-4">
    <button (click)="previousTrack()" class="btn btn-circle">⏮</button>
    <button (click)="togglePlay()" class="btn btn-circle">
      {{ (playerStore.isPlaying$ | async) ? '⏸' : '▶︎' }}
    </button>
    <button (click)="nextTrack()" class="btn btn-circle">⏭</button>
  </div>
</div>

