<div class="text-center">
  <div *ngIf="playerStore.currentTrack$ | async as currentTrack">
    <!-- Album Art -->
    <img class="mask mask-circle mx-auto" 
         [class.spin]="playerStore.isPlaying$ | async"
         [src]="currentTrack.album.images[0].url" 
         alt="Album Art">
    <br /><br />

    <!-- Track Info -->
    <!-- <h2 class="text-2xl font-title">{{ currentTrack.name }}</h2> -->
    <!-- <h2 class="text-2xl font-semibold my-4">{{ currentTrack.name }}</h2> -->
    <h2 class="text-2xl font-bold">{{ currentTrack.name }}</h2>
    <p>{{ currentTrack.artists[0].name }}</p>
  </div>

  <br />

  <!-- Controls -->
  <div class="flex justify-center gap-4">
    <button (click)="previousTrack()" class="btn btn-circle">⏮</button>
    <button (click)="togglePlay()" class="btn btn-circle">
      {{ (playerStore.isPlaying$ | async) ? '⏸' : '▶︎' }}
    </button>
    <button (click)="nextTrack()" class="btn btn-circle">⏭</button>
  </div>
</div>

