<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/Eg4FWiow2Ak?si=h5VyuhjT2-oWZLOM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
    <div style="position: fixed; z-index: -99; width: 100%; height: 100%">
        <iframe frameborder="0" height="100%" width="100%"
          src="https://youtube.com/embed/Eg4FWiow2Ak?si=h5VyuhjT2-oWZLOM?autoplay=1&controls=0&showinfo=0&autohide=1">
        </iframe>
      </div>

      <embed height="0" width="0"
  src="http://youtube.googleapis.com/v/Eg4FWiow2Ak?si=h5VyuhjT2-oWZLOM&autoplay=1&loop=1" /> -->


<!-- SCM Music Player https://www.scmplayer.net -->
<script type="text/javascript" src="https://www.scmplayer.net/script.js" 
data-config="{'skin':'skins/tunes/skin.css','volume':50,'autoplay':true,'shuffle':false,'repeat':0,'placement':'top','showplaylist':false,'playlist':[{'title':'nomad','url':'https://www.youtube.com/watch?v=Eg4FWiow2Ak'}]}" ></script>
<!-- SCM Music Player script end -->


</body>

</html>